---
layout: nil
---

/*
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */

body {
  background-color: none;
  background-image:url('../assets/background/background.png')
}

.site {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

a {
  color:#1a2f57;
}

a:visited {
  color:#455470;
}

#navgist {
  background-image: url("huruf/gist32x37.png");
  display: inline-block;
  height: 32px;
  width: 37px;
}
